.subscription-list{

  .intro{
    margin: 30px 0;
  }

  .subscription-list-item{
    margin-top: 10px;
    margin-bottom: 5px;

    &:hover{
      background: $subscription-list-item-hover-bg;
    }

    label{
      display: block;
      padding: 10px 0;
      cursor: pointer;
    }

    @media (min-width: $screen-sm-min) {
      .col-traffic{
        text-align: left;
      }

      .col-internet,
      .col-price,
      .col-monthly-price{
        text-align: right;
      }
    }
  }

}
